body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  /*background: linear-gradient(to right, rgb(1, 149, 183), rgb(162, 144, 250));*/
  background: url('./img/dna4.jpg');
  background-repeat: no-repeat;
  background-size: contain cover;

}

button {
	cursor: pointer;
}